<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item>
            <strong>Application Name :  </strong> Weather 
          </ion-item>
          <ion-item>
            <strong>Version : </strong> 1.0.0 
          </ion-item><ion-item>
            <strong>Description : </strong>Simple Weather Application
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides pager="true">
    
        <ion-slide *ngFor="let slide of slides" text-center>
          
          <div class="slide-img-padding">
            <img [src]="slide.img" class="slide-img">
          </div>
          <div>
            <h3 [innerHTML]="slide.titulo"></h3>
          </div>
          
    
        </ion-slide>
    
      </ion-slides>
</ion-content>
