ion-content{
  --background: url(../../assets/img/sky.png) 0 0/100% 100% no-repeat; 
 
}
ion-toolbar{
  --background: #0D3C8D;
}
ion-title{
  color: #D5D3E9;
  text-align: center;
} 
.textcolor{
  color: #D5D3E9;
}